/* Four */

.container:nth-child(2) .hour.four,
.container:nth-child(4) .hour.four,
.container:nth-child(11) .hour.four,
.container:nth-child(14) .hour.four,
.container:nth-child(15) .hour.four,
.container:nth-child(24) .hour.four {
    transform: rotate(90deg);
}

.container:nth-child(5) .minute.four,
.container:nth-child(6) .minute.four,
.container:nth-child(7) .minute.four,
.container:nth-child(8) .minute.four,
.container:nth-child(9) .minute.four,
.container:nth-child(10) .hour.four,
.container:nth-child(11) .minute.four,
.container:nth-child(12) .minute.four,
.container:nth-child(13) .hour.four,
.container:nth-child(16) .hour.four,
.container:nth-child(19) .hour.four,
.container:nth-child(20) .hour.four,
.container:nth-child(23) .hour.four,
.container:nth-child(24) .minute.four {
    transform: rotate(180deg);
}

.container:nth-child(1) .hour.four,
.container:nth-child(3) .hour.four,
.container:nth-child(10) .minute.four,
.container:nth-child(13) .minute.four,
.container:nth-child(14) .minute.four,
.container:nth-child(23) .minute.four {
    transform: rotate(270deg);
}

.grid.four .container:nth-child(17),
.grid.four .container:nth-child(18),
.grid.four .container:nth-child(21),
.grid.four .container:nth-child(22){
    transform: rotate(45deg);
}
