
/* Seven */


.container:nth-child(2) .hour.seven,
.container:nth-child(3) .hour.seven,
.container:nth-child(4) .hour.seven,
.container:nth-child(6) .hour.seven,
.container:nth-child(7) .hour.seven,
.container:nth-child(24) .hour.seven
{
    transform: rotate(90deg);
}


.container:nth-child(5) .hour.seven,
.container:nth-child(8) .hour.seven,
.container:nth-child(11) .hour.seven,
.container:nth-child(12) .hour.seven,
.container:nth-child(15) .hour.seven,
.container:nth-child(16) .hour.seven,
.container:nth-child(19) .hour.seven,
.container:nth-child(20) .hour.seven,
.container:nth-child(23) .hour.seven,
.container:nth-child(24) .minute.seven
{
    transform: rotate(180deg);
}


.container:nth-child(1) .minute.seven,
.container:nth-child(2) .minute.seven,
.container:nth-child(3) .minute.seven,
.container:nth-child(5) .minute.seven,
.container:nth-child(6) .minute.seven,
.container:nth-child(23) .minute.seven
{
    transform: rotate(270deg);
}

.grid.seven .container:nth-child(9),
.grid.seven .container:nth-child(10),
.grid.seven .container:nth-child(13),
.grid.seven .container:nth-child(14),
.grid.seven .container:nth-child(17),
.grid.seven .container:nth-child(18),
.grid.seven .container:nth-child(21),
.grid.seven .container:nth-child(22){
    transform: rotate(45deg);
}
