
/* Six */


.container:nth-child(2) .hour.six,
.container:nth-child(3) .hour.six,
.container:nth-child(4) .hour.six,
.container:nth-child(7) .hour.six,
.container:nth-child(8) .hour.six,
.container:nth-child(11) .hour.six,
.container:nth-child(12) .hour.six,
.container:nth-child(15) .hour.six,
.container:nth-child(19) .hour.six,
.container:nth-child(22) .hour.six,
.container:nth-child(23) .hour.six,
.container:nth-child(24) .hour.six
{
    transform: rotate(90deg);
}


.container:nth-child(5) .hour.six,
.container:nth-child(8) .minute.six,
.container:nth-child(9) .hour.six,
.container:nth-child(10) .hour.six,
.container:nth-child(13) .hour.six,
.container:nth-child(17) .hour.six,
.container:nth-child(16) .hour.six,
.container:nth-child(18) .hour.six,
.container:nth-child(19) .minute.six,
.container:nth-child(20) .hour.six,
.container:nth-child(21) .hour.six,
.container:nth-child(24) .minute.six
{
    transform: rotate(180deg);
}

.container:nth-child(1) .hour.six,
.container:nth-child(2) .minute.six,
.container:nth-child(3) .minute.six,
.container:nth-child(6) .hour.six,
.container:nth-child(7) .minute.six,
.container:nth-child(10) .minute.six,
.container:nth-child(11) .minute.six,
.container:nth-child(14) .hour.six,
.container:nth-child(18) .minute.six,
.container:nth-child(21) .minute.six,
.container:nth-child(22) .minute.six,
.container:nth-child(23) .minute.six
{
    transform: rotate(270deg);
}

