
/* Zero */


.container:nth-child(2) .hour.zero,
.container:nth-child(3) .hour.zero,
.container:nth-child(4) .hour.zero,
.container:nth-child(7) .hour.zero,
.container:nth-child(19) .hour.zero,
.container:nth-child(22) .minute.zero,
.container:nth-child(23) .minute.zero,
.container:nth-child(24) .minute.zero{
    transform: rotate(90deg);
}

.container:nth-child(1) .hour.zero,
.container:nth-child(2) .minute.zero,
.container:nth-child(3) .minute.zero,
.container:nth-child(6) .hour.zero,
.container:nth-child(21) .minute.zero,
.container:nth-child(22) .hour.zero,
.container:nth-child(23) .hour.zero,
.container:nth-child(18) .hour.zero{
    transform: rotate(270deg);
}

.container:nth-child(5) .minute.zero,
.container:nth-child(9) .minute.zero,
.container:nth-child(13) .minute.zero,
.container:nth-child(17) .minute.zero,
.container:nth-child(21) .hour.zero,
.container:nth-child(8) .minute.zero,
.container:nth-child(12) .minute.zero,
.container:nth-child(16) .minute.zero,
.container:nth-child(20) .minute.zero,

.container:nth-child(10) .minute.zero,
.container:nth-child(11) .minute.zero,
.container:nth-child(14) .minute.zero,
.container:nth-child(15) .minute.zero,
.container:nth-child(24) .hour.zero,
.container:nth-child(18) .minute.zero,
.container:nth-child(19) .minute.zero
{
    transform: rotate(180deg);
}
