#root {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: fit-content;
    gap: 4px;
}